<div id="footerwrap">
    <div class="container">
        <div class="row text-center">
            <div class = "spacing"></div>
            <div class="col-lg-4">
                <h3 style="color:white;">MEST LÄSTA</h3>
                <div class="hline-w"></div>
                <ul>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                </ul>
            </div>
            <div class = "spacing"></div>
            <div class="col-lg-4">
                <h3 style="color:white;">FÖLJ OSS</h3>
                <div class="hline-w"></div>
                <div class="social-circle"><i class="fa fa-facebook footer-social"></i></div><div class="social-circle"><i class="fa fa-twitter footer-social"></i></div><div class="social-circle"><i class="fa fa-google-plus footer-social"></i></div>
            </div>
            <div class = "spacing"></div>
            <div class="col-lg-4">
                <h3 style="color:white;">PÅ GÅNG</h3>
                <div class="hline-w"></div>
                <ul>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                </ul>
            </div>
        </div><! --/row -->
        <div class = "spacing"></div>
    </div><! --/container -->
</div><! --/footerwrap -->