<div id="footerwrap">
    <div class="container">
        <div class="row text-center">
            <div class = "spacing"></div>
            <div class="col-lg-6">
                <h3 style="color:white;">FÖLJ OSS</h3>
                <a href="https://www.facebook.com/pratakarnkraft" style="color:white"><div class="social-circle"><i class="fa fa-facebook footer-social"></i></div></a>
               <!--  <div class="social-circle"><i class="fa footer-social">&</i></div> -->
                <a href="https://twitter.com/pratakarnkraft"><div class="social-circle"><i class="fa fa-twitter footer-social"></i></div></a>
            </div>
            <div class = "spacing"></div>
            <div class="col-lg-6">
                <h3 style="color:white;">BLOGGENS TRE TEMAN</h3>
                <p><h4 class="footer-fact-check-header footer-sub-headeing"><a href="/karnkraftskoll/"><i class="fa fa-search fa-lg"></i> Skapa Kärnkraftskoll <i class="fa fa-arrow-circle-o-right"></i></a></h4></p>
                <p><h4 class="footer-global-header footer-sub-headeing"><a href="/global/"><i class="fa fa-globe fa-lg"></i> Tänk Globalt - Handla Lokalt <i class="fa fa-arrow-circle-o-right"></i></a></h4></p>
                <p><h4 class="footer-tech-header footer-sub-headeing"><a href="/tech/"><i class="fa fa-recycle fa-lg"></i> Tekniska Framsteg - vi behöver ta ställning till <i class="fa fa-arrow-circle-o-right"></i></a></h4></p>
            </div>
        </div><! --/row -->
        <div class = "spacing"></div>
    </div><! --/container -->
</div><! --/footerwrap -->