<head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
 
    <!-- Custom CSS & Bootstrap Core CSS   -->
    <link href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/generalstyle.css" | prepend: site.baseurl }}" rel="stylesheet">
    
    <!--  Custom styles for talk now page -->
    <link href="{{ "/assets/css/talknowstyle.css" | prepend: site.baseurl }}" rel="stylesheet">
    
</head>
