<div id="scroll-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="navbar-brand" class="navbar-brand" href={{"/index.html" | prepend: site.baseurl }}>PRATAKÄRNKRAFT.NU</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown">BLOGG<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/karnkraftskoll/">KÄRNKRAFTSKOLL</a></li>
                <li><a href="/global/">TÄNK GLOBALT HANDLA LOKALT</a></li>
                <li><a href="">TEKNIKUTVECKLING</a></li>
                <li><a href="">SENASTE NYTT</a></li>
              </ul>
            </li>
            <li><a href="">FAKTATABBAR</a></li>
            <li><a href="">JAG VILL PRATA NU</a></li>
            <li><a href="">OM OSS</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>
