h1, h2, h3, h4, h5{
	color:{{ site.colors.dark_green}};
}


.fact-check-text{
    color:  {{ site.colors.dark_green}};
}

.arg-headline{
	text-align: left;
}

.arg-p{
	text-align: left;
}


.chapter-icon{
	float:left;
	margin-right:10px;
}

csmall{
	font-size: 12px;
	color: {{ site.colors.dark_green}};
}
.ctitle a{
	color: black;
}

.blog-section a{
	color: {{ site.colors.dark_green}};
}

.fa-circle-container{
	color:{{ site.colors.dark_green}};
}

#search-pic{
	font-size: 100px;
}
.share a{
	color: {{ site.colors.dark_green}};

}

blockquote{
	border-left: 5px solid {{ site.colors.dark_green}};
}

.dropdown-menu {
	background: {{ site.colors.mp_green}};
}

#bolt{
	color: orange;
}
#rocket{
	color: black;
}
#save-life-warning{
	color: orange;
}

#save-life-heartbeat{
	color: red;
}


#save-life-down{
	color: black;
}


#save-life-bar-chart{
	color: {{ site.colors.mp_green}};
}

#save-life-search{
	color: {{ site.colors.mp_green}};
}

#danger-circle-2{
	color: #454E9E;
}
#danger-circle-3{
	color: #D72638;
}
#danger-circle-4{
	color: #CC3F0C;
}
#danger-circle-5{
	color: #F59C27;
}

#expencive-circle-2{
	color: #7C3650;
}
#expencive-circle-3{
	color: #529CD8;
}
#expencive-circle-4{
	color: #ED3E09;
}
#expencive-circle-5{
	color: #065143;
}



#expencive-tint{
	color:blue;
}
#expencive-balance{
	color:{{ site.colors.mp_green}};
}

/*.navbar-default {
	background-color: rgba(83, 160, 69, 0.95);
	background-color: rgba(7, 55, 99, 0.95);
	background-color: rgba(189, 0, 118, 0.80);
	border-color: transparent;
}*/
