h1, h2, h3, h4, h5{
	color:{{ site.colors.dark_blue}};
}

.dropdown-menu {
	background: {{ site.colors.dark_blue}};
}

.main-section h1{
	color:white;
}
.main-section h4{
	color:white;
}

.blog-section h1{
	color:{{ site.colors.dark_blue}};
}

.blog-section h4{
	color:{{ site.colors.dark_blue}};
}

.main-section p{
	color:white;
}


.main-section{
	background: {{ site.colors.dark_blue}};
}

#bull-horn-circle{
	background-color:{{ site.colors.global_purple}};
}

#world-circle{
	background-color:{{ site.colors.global_grey}};
}
#zero-circle {
	background-color: {{ site.colors.global_green}};
}


#sweden-circle, #power-off-circle, #final-circle{
	 background-color: {{ site.colors.dark_blue}};
}

#unique_battery{
    color: #F7CB15;
}

#unique_shopping{
    color:{{ site.colors.mp_green}};
}



csmall {
	font-size: 12px;
	color: {{ site.colors.dark_blue}};
}
.ctitle a{
	color: black;
}


.blog-section a{
	color: #01529B;
}

.featured-img{
	padding-bottom: 30px;
}

.share a{
	color: {{ site.colors.dark_blue}};

}
blockquote{
	border-left: 5px solid {{ site.colors.dark_blue}};
}

.navbar-default {
/*	background-color: rgba(83, 160, 69, 0.95);*/
	background-color: rgba(7, 55, 99, 0.95);
/*	background-color: rgba(189, 0, 118, 0.80);*/
	border-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover {
	color: {{ site.colors.mp_green}}; /* #00b3fe;*/
}

#navbar-brand:hover{ /*TODO see how this is solved better, + discusss if yellow or mp yellow*/
	color: {{ site.colors.mp_green}};
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: {{ site.colors.mp_green}}; /*#00b3fe;*/
	background-color: transparent;
}


.global-time-line-fa{
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
}
#zero{
    text-align: center;
    font-size: 50px;
    padding-bottom: 5px;
    line-height: 25px;
}
.iceland-flag{
    font-size: 200px;
}

.fa-circle-container{
    color:{{ site.colors.dark_blue}};
}

#all-tools-1{
    color: #007705
}

#all-tools-2{
color: #89003B
}

#all-tools-3{
color: #003363
}

#all-tools-4{
color: #16560D
}

#all-tools-5{
color: #C41E3D
}

#all-tools-overflow{
    color:#E26714;
}

#all-tools-connect{
    color:{{ site.colors.dark_green}};
}

#conflict-arrows{
    color:orange;
}


@media(min-width:760px) (orientation:landscape) {
    .global-time-line-fa{
        padding-top: 30px;
        font-size: 100px;
    }
    #zero{
    	line-height: 100px;
    	padding-top: 4px;
        font-size: 100px;
    }
}
@media(min-width:760px) and (orientation:portrait){

	.global-time-line-fa{
        padding-top: 15px;
        font-size: 60px;
    }
    #zero{
    	line-height: 40px;
    	padding-top: 3px;
        font-size: 75px;
    }
}

@media(min-width:992px) {

	.global-time-line-fa{
        padding-top: 18px;
        font-size: 100px;
    }

    #zero{
    	line-height: 100px;
    	padding-top: 0px;
        font-size: 100px;
    }

    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}
