
h1, h2, h3, h4, h5{
	color:{{ site.colors.dark_blue}};
}

.dropdown-menu {
	background: {{ site.colors.dark_blue}};
}

.main-section h1, h2, h3, h4, h5{
	color:white;
}

.main-section p{
	color:white;
}


.main-section{
	background: {{ site.colors.dark_blue}};
}

#bull-horn-circle, #heart-circle{
	background-color: {{ site.colors.global_purple}};
}


#sweden-circle,#zero-circle, #power-off-circle, #final-circle{
	 background-color: {{ site.colors.dark_blue}};
}


#wrench-circle,#world-circle {
	background-color: {{ site.colors.global_green}};
}

csmall {
	font-size: 12px;
	color: {{ site.colors.dark_blue}};
}
.ctitle a{
	color: black;
}


.blog-section a{
	color: #01529B;
}

.featured-img{
	padding-bottom: 30px;
}

.share a{
	color: {{ site.colors.dark_blue}};

}
blockquote{
	border-left: 5px solid {{ site.colors.dark_blue}};
}

.navbar-default {
/*	background-color: rgba(83, 160, 69, 0.95);*/
	background-color: rgba(7, 55, 99, 0.95);
/*	background-color: rgba(189, 0, 118, 0.80);*/
	border-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover {
	color: {{ site.colors.mp_green}}; /* #00b3fe;*/
}

#navbar-brand:hover{ /*TODO see how this is solved better, + discusss if yellow or mp yellow*/
	color: {{ site.colors.mp_green}};
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: {{ site.colors.mp_green}}; /*#00b3fe;*/
	background-color: transparent;
}


.global-time-line-fa{
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
}
#zero{
    text-align: center;
    font-size: 50px;
    padding-bottom: 5px;
    line-height: 25px;
}

@media(min-width:760px) {
    .global-time-line-fa{
        padding-top: 30px;
        font-size: 100px;
    }
    #zero{
    	line-height: 100px;
    	padding-top: 4px;
        font-size: 100px;
    }
}