h1, h2, h3, h4, h5{
	color:{{ site.colors.dark_blue}};
}

.fact-check-text{
    color:  {{ site.colors.dark_blue}};
}

csmall {
	font-size: 12px;
	color: {{ site.colors.dark_blue}};
}
.ctitle a{
	color: black;
}

.featured-img{
	padding-bottom: 30px;
}

.share a{
	color: {{ site.colors.dark_blue}};

}
.navbar-default {
/*	background-color: rgba(83, 160, 69, 0.95);*/
	background-color: rgba(7, 55, 99, 0.95);
/*	background-color: rgba(189, 0, 118, 0.80);*/
	border-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover {
	color: {{ site.colors.mp_green}}; /* #00b3fe;*/
}

#navbar-brand:hover{ /*TODO see how this is solved better, + discusss if yellow or mp yellow*/
	color: {{ site.colors.mp_green}};
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: {{ site.colors.mp_green}}; /*#00b3fe;*/
	background-color: transparent;
}