---
layout: fact-check-main
---
<section class="blog-section">
    <div class="container">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-8">
            <! -- Blog Post  -->
            {% if page.img %}<p><img class="img-responsive featured-img" src="{{ "/assets/img/fact-check/" | prepend: site.baseurl }}{{ page.img }}"></p>{% endif %} {% if page.circle-img %}<div class="circle-img-container"><img class=" img-responsive img-circle" src="{{ "/assets/img/fact-check/circle-img/" | prepend: site.baseurl }}{{ page.circle-img }}"></div>{% endif %}
            {%if page.fa-icon%}<div class="fa-circle-container"><span class="fa-stack fa-lg fa-4x"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-{{page.fa-icon}} fa-stack-1x fa-inverse"></i></span></div>{% endif %}

            <a href="{{ page.url | prepend: site.baseurl }}"><h1 class="ctitle text-center">{{ page.title }}</h1></a>
            <p class="text-center"><csmall>{{ page.date | date: "%b %-d, %Y" }}.</csmall></p>
            {{ content }}
            <div class="spacing"></div>
            <h6 class="share-headline text-center">SHARE</h6>
            <p class="share text-center">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-tumblr"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>                               
            </p> 
            {% if page.comments %}
            <div id="disqus_thread"></div>
             <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'ragkar';  
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            
            {% endif %}
        </div><! --/col-lg-8 -->
    </div><! --/row -->
    </div>
</section>
