---
layout: global-main
---
<section class="blog-section">
    <div class="container">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-8">
            <! -- Blog Post  -->
            <p><img class="img-responsive featured-img" src="{{ "/assets/img/global/" | prepend: site.baseurl }}{{ page.img }}"></p>
            <a href="{{ page.url | prepend: site.baseurl }}"><h1 class="ctitle">{{ page.title }}</h1></a>
            <p><csmall>{{ page.date | date: "%b %-d, %Y" }}.</csmall></p>
            {{ content }}
            <div class="spacing"></div>
            <h6 class="share-headline">SHARE:</h6>
            <p class="share">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-tumblr"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>                               
            </p> 
        </div><! --/col-lg-8 -->
    </div><! --/row -->
    </div>
</section>
